@* login5 Template File *@
@()(implicit request : RequestHeader, flash:Flash )

@main("Login"){
    <h2> Login here!</h2></h>
    <form method="post" action="@routes.task5.validateInfo">
        @helper.CSRF.formField
        Username <input type="text" name="username"></input>
        <br>
        Password <input type="password" name = "password"> </input>
        <br>
        <input type="submit"></input>
    </form>
<br>
<h2> Don't have an account? Make one below!</h2>
    <form method="post" action="@routes.task5.createUser">
        @helper.CSRF.formField
        Username <input type="text" name="username"></input>
        <br>
        Password <input type="password" name = "password"> </input>
        <br>
        <input type="submit"></input>
    </form>
}


