@*task9 Template File *@
@()(implicit request : RequestHeader, flash:Flash )


@main("task9"){
<h2> This is task 9 </h2>
<div id="react-root"></div>
<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
<input type="hidden" id="loginRoute" value="@routes.Task9.login">
<input type="hidden" id="createRoute" value = "@routes.Task9.create">
<input type="hidden" id="getGlobalMessagesRoute" value = "@routes.Task9.getGlobalMessages">
<input type="hidden" id="getLocalMessagesRoute" value = "@routes.Task9.getLocalMessages">
<input type="hidden" id="sendGlobalMessageRoute" value = "@routes.Task9.sendGlobalMessage">
<input type="hidden" id="sendLocalMessageRoute" value = "@routes.Task9.sendLocalMessage">
<script src="@routes.Assets.versioned("javascript/task9.js")"></script>
}